<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>

</head>
<body>
<h1>Insertion Block</h1>
<form th:action="@{/save-product}" th:object="${block}" method="post">
    <label>Longueur: <input type="text" th:field="*{longueur}"/></label><br/>
    <label>Largeur: <input type="text" th:field="*{largeur}"/></label><br/>
    <label>epaisseur: <input type="text" th:field="*{epaisseur}"/></label><br/>
    <label>cout de production: <input type="text" th:field="*{coutProduction}"/></label><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>
